.container{
  display:flex;
  align-items: center;
  justify-content: center;
}
body{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display:flex;
  align-items: center;
  background: #2d2a2a
}